
@import "ionic.globals";

$text-color:        #000;
$background-color:  #fff;

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f25362,
  light:      #f4f4f4,
  dark:       #222,
  shadow:     #bf4080,
  shadowlite: #f9ebf2,

  //customise color here
  header: #f25362,
  button-color: #f25362,
  side-heading-color:  #f25362

);

$shadowlite: #f9ebf2;
$shadow: #bf4080;
$side-heading-color:  #f25362;
$header: #f25362;
$button-color: #f25362;
$toggle-button-color: #f25362;
$min-banner-height:  7em;
$min-home-category-height:  8em;
$min-product-height:  12em;
$min-product-slider-height:  16em;
$menu-background-color: #fff;
$menu-text-color: #111;
$menu-border-color: #ececec;


@import "ionic.theme.default";


$ionicons-font-path: "../assets/fonts";
@import "ionicons";
